.btn_grid_img {
    border-radius: var(--roundedXLG);
    background: none;
    padding: 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.btn_grid_img:hover {
    transform: scale(1.025);
}
.gallery_img {
    width: 100%;
    border-radius: var(--roundedXLG);
}

/* Get gallery container */
.btn_grid_img:hover .gallery_props {
    display: block;
}
.gallery_caption, .gallery_props {
    background-color: rgba(26, 26, 26, 0.5);
    position: absolute;
    width: 95%;
    text-align: start;
    padding: var(--spaceSM);
    border-radius: var(--roundedLG);
}
.gallery_caption {
    bottom: var(--spaceMD);
    left: var(--spaceMD);
}
.gallery_props {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    top: var(--spaceMD);
    left: var(--spaceMD);
    display: none;
}
.gallery_caption h4, .gallery_caption p, .gallery_props p {
    color: var(--whiteColor);
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.gallery_caption h4 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
.gallery_caption p {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
.gallery_props p {
    font-size: var(--textMD);
}